@import url(styles/header.css);
@import url(styles/banner.css);

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --amarelo: #fecd2f;
    --fonte-principal: “Poppins”;
    --roxo: #440a57;
    --gradiente-roxo: linear-gradient(#733887, #C75EEB);
    --fonte-secundaria: "Josefin Sans";
    --preto:#000000;   
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    background-color: white;
}